In [ ]:
1

1

# Imports and functions

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from openpyxl import load_workbook
from zipfile import BadZipFile # Importing the BadZipFile exception
import openpyxl
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
file1 = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_transactions.csv'
file_data ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Transactions.csv'
file2 = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_Units.csv'
file3 ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_Buildings.csv'
accredeted = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Accredited_Escrow_Agents.csv'
broker ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Brokers.csv'
tranC = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/transactionsC.csv'
valuation ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Valuation.csv'
valuattor = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Valuator_Licensing.csv'
project_app ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Project_Applications.csv'
map = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Map_Requests.csv'
file1 = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_transactions.csv'
file_data ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Transactions.csv'
file2 = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_Units.csv'
file3 ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_Buildings.csv'
accredeted = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Accredited_Escrow_Agents.csv'
broker ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Brokers.csv'
tranC = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/transactionsC.csv'
valuation ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Valuation.csv'
valuattor = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Valuator_Licensing.csv'
project_app ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Project_Applications.csv'
map = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Map_Requests.csv'
land = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Land_Registry.csv'
building_floors ='/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Building_Floor_Level_Information.csv'
building_summary = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Building_Summary_Information.csv'
developers = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/DLD_Archive/Developers.csv'

In [ ]:
tdf = pd.read_csv(file1)
udf = pd.read_csv(file2)
bdf = pd.read_csv(file3)
tranC_df = pd.read_csv(tranC)
boker_df = pd.read_csv(broker)
accredeted_df = pd.read_csv(accredeted)
valuation_df = pd.read_csv(valuation)
valuattor_df = pd.read_csv(valuattor)
project_app_df = pd.read_csv(project_app)
map_df = pd.read_csv(map)
land_df = pd.read_csv(land)
building_floors_df = pd.read_csv(building_floors)
building_summary_df = pd.read_csv(building_summary)
developers_df = pd.read_csv(developers)

<ipython-input-61-9f610125373f>:2: DtypeWarning: Columns (6,9,11,21,31,33,35) have mixed types. Specify dtype option on import or set low_memory=False.
  udf = pd.read_csv(file2)
<ipython-input-61-9f610125373f>:3: DtypeWarning: Columns (6,31,33,35) have mixed types. Specify dtype option on import or set low_memory=False.
  bdf = pd.read_csv(file3)
<ipython-input-61-9f610125373f>:13: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  building_summary_df = pd.read_csv(building_summary)

In [ ]:
dfs =  dir()
all_dfs = [df for df in dfs if df.endswith('df')]

In [ ]:
all_dfs = [x.replace("'", "") if isinstance(x, str) else x for x in all_dfs]
all_dfs

['accredeted_df',
 'bdf',
 'boker_df',
 'building_floors_df',
 'building_summary_df',
 'developers_df',
 'df',
 'land_df',
 'map_df',
 'project_app_df',
 'tdf',
 'tranC_df',
 'udf',
 'valuation_df',
 'valuattor_df']

In [ ]:
for col in tranC_df.columns:
    print(f"Unique values in column '{col}': {tranC_df[col].nunique()}")

tranC_df.info()
tranC_df.shape
tranC_df['property_type_en'].unique()

Unique values in column 'Unnamed: 0': 530013
Unique values in column 'instance_date': 4126
Unique values in column 'property_type_id': 2
Unique values in column 'property_type_en': 2
Unique values in column 'property_sub_type_id': 10
Unique values in column 'property_sub_type_en': 10
Unique values in column 'property_usage_en': 4
Unique values in column 'reg_type_id': 2
Unique values in column 'reg_type_en': 2
Unique values in column 'area_id': 37
Unique values in column 'area_name_en': 37
Unique values in column 'project_name_en': 1187
Unique values in column 'master_project_en': 63
Unique values in column 'nearest_landmark_en': 9
Unique values in column 'nearest_metro_en': 32
Unique values in column 'nearest_mall_en': 5
Unique values in column 'rooms_en': 16
Unique values in column 'has_parking': 2
Unique values in column 'procedure_area': 28051
Unique values in column 'actual_worth': 154528
Unique values in column 'meter_sale_price': 365327
Unique values in column 'no_of_parties_role_1': 21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530013 entries, 0 to 530012
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            530013 non-null  int64
 1   instance_date         530013 non-null  object
 2   property_type_id      530013 non-null  int64
 3   property_type_en      530013 non-null  object
 4   property_sub_type_id  530013 non-null  float64
 5   property_sub_type_en  530013 non-null  object
 6   property_usage_en     530013 non-null  object
 7   reg_type_id           530013 non-null  int64
 8   reg_type_en           530013 non-null  object
 9   area_id               530013 non-null  int64
 10  area_name_en          530013 non-null  object
 11  project_name_en       530013 non-null  object
 12  master_project_en     530013 non-null  object
 13  nearest_landmark_en   530013 non-null  object
 14  nearest_metro_en      530013 non-null  object
 15  nearest_mall_en       530013 non-null  object
 16  rooms_en              530013 non-null  object
 17  has_parking           530013 non-null  int64
 18  procedure_area        530013 non-null  float64
 19  actual_worth          530013 non-null  float64
 20  meter_sale_price      530013 non-null  float64
 21  no_of_parties_role_1  530013 non-null  float64
dtypes: float64(5), int64(5), object(12)
memory usage: 89.0+ MB

array(['Unit', 'Villa'], dtype=object)

In [ ]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424588 entries, 0 to 1424587
Data columns (total 39 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   transaction_id        1424588 non-null  object
 1   procedure_id          1424588 non-null  int64
 2   trans_group_id        1424588 non-null  int64
 3   trans_group_en        1424588 non-null  object
 4   procedure_name_en     1424588 non-null  object
 5   instance_date         1424584 non-null  object
 6   property_type_id      1424588 non-null  int64
 7   property_type_en      1424588 non-null  object
 8   property_sub_type_id  1122476 non-null  float64
 9   property_sub_type_en  1122476 non-null  object
 10  property_usage_en     1424588 non-null  object
 11  reg_type_id           1424588 non-null  int64
 12  reg_type_en           1424588 non-null  object
 13  area_id               1424588 non-null  int64
 14  area_name_en          1424588 non-null  object
 15  building_name_en      995886 non-null   object
 16  project_number        994904 non-null   float64
 17  project_name_en       994904 non-null   object
 18  master_project_en     1210950 non-null  object
 19  nearest_landmark_en   1184214 non-null  object
 20  nearest_metro_en      1031786 non-null  object
 21  nearest_mall_en       1025052 non-null  object
 22  rooms_en              1102665 non-null  object
 23  has_parking           1424588 non-null  int64
 24  procedure_area        1424588 non-null  float64
 25  actual_worth          1424588 non-null  float64
 26  meter_sale_price      1424588 non-null  float64
 27  rent_value            35563 non-null    float64
 28  meter_rent_price      35563 non-null    float64
 29  no_of_parties_role_1  1423659 non-null  float64
 30  no_of_parties_role_2  1423659 non-null  float64
 31  no_of_parties_role_3  1423659 non-null  float64
 32  instance_Year         1424584 non-null  float64
 33  instance_Month        1424584 non-null  float64
 34  instance_Day          1424584 non-null  float64
 35  trans_X_1             1424588 non-null  int64
 36  trans_X_2             1424588 non-null  int64
 37  Trans_Year            1424588 non-null  int64
 38  trans_X_3             1424588 non-null  int64
dtypes: float64(13), int64(10), object(16)
memory usage: 423.9+ MB

In [ ]:
all_dfs

['accredeted_df',
 'boker_df',
 'building_floors_df',
 'building_summary_df',
 'developers_df',
 'land_df',
 'map_df',
 'project_app_df',
 'tranC_df',
 'valuation_df',
 'valuattor_df']

In [ ]:
len(tranC_df)
tranC_df

In [ ]:
def common_cols( df1,df = tdf):
  df_col = df.columns
  df1_col = df1.columns
  common_cols = [col for col in df_col if col in df1_col]
  print("\n")
  print(common_cols)
  print(f"com_ cols of both files are : {len(common_cols)}")
  print(f"len of transactions is {len(df_col)}")
  print(f"len of df  is {len(df1_col)}")
  return 0

In [ ]:
for df_name in all_dfs:
  # Get the actual DataFrame object using globals() or locals()
  df = globals()[df_name]
  print(f"DataFrame Name: {df_name}")
  common_cols(df)

DataFrame Name: accredeted_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 4
DataFrame Name: boker_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 13
DataFrame Name: building_floors_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 8
DataFrame Name: building_summary_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 37
DataFrame Name: developers_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 22
DataFrame Name: land_df


['property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'area_id', 'area_name_en', 'project_name_en', 'master_project_en']
com_ cols of both files are : 8
len of transactions is 39
len of df  is 31
DataFrame Name: map_df


['procedure_id', 'procedure_name_en', 'property_type_id', 'property_type_en']
com_ cols of both files are : 4
len of transactions is 39
len of df  is 15
DataFrame Name: project_app_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 8
DataFrame Name: tranC_df


['instance_date', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'property_usage_en', 'reg_type_id', 'reg_type_en', 'area_id', 'area_name_en', 'project_name_en', 'master_project_en', 'nearest_landmark_en', 'nearest_metro_en', 'nearest_mall_en', 'rooms_en', 'has_parking', 'procedure_area', 'actual_worth', 'meter_sale_price', 'no_of_parties_role_1']
com_ cols of both files are : 21
len of transactions is 39
len of df  is 22
DataFrame Name: valuation_df


['procedure_id', 'procedure_name_en', 'instance_date', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'area_id', 'area_name_en', 'procedure_area', 'actual_worth']
com_ cols of both files are : 11
len of transactions is 39
len of df  is 20
DataFrame Name: valuattor_df


[]
com_ cols of both files are : 0
len of transactions is 39
len of df  is 14

In [ ]:
for df_name in all_dfs:
  # Get the actual DataFrame object using globals() or locals()
  df = globals()[df_name]
  print(f"DataFrame Name: {df_name}")
  common_cols(df)

In [ ]:
valuation_df.info()

In [ ]:
valuation_df.shape
#valuation_df.info()
valuation_df['procedure_id'].unique()

array([24])

In [ ]:
print(tdf['instance_date'].nunique())
print(tranC_df['instance_date'].nunique())

6346
4126

In [ ]:
udf.iloc[:,28:].sample(2)

,is_free_hold,is_lease_hold,is_registered,pre_registration_number,master_project_id,master_project_en,project_id,project_name_en,land_type_id,land_type_en,creation_year,creation_month,creation_day,creation_hour
139178,1.0,0.0,0.0,NaN,100.0,Remraam,975.0,REMRAAM,4.0,Commercial,NaN,NaN,NaN,NaN
1243421,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,Commercial,NaN,NaN,NaN,NaN

# Data matching

In [ ]:
project_name_T = tdf['project_name_en'].unique()
project_name_U = udf['project_name_en'].unique()
project_name_B = bdf['project_name_en'].unique()

In [ ]:
matching_values = [value for value in project_name_T if value in project_name_U]#and value in project_name_B]

In [ ]:
udf.iloc[:,[6,9,11,21,31,33,35]].nunique()#.dtypes # Use .iloc to select rows by their integer position (index).

building_number                 2670
unit_parking_number           111768
parking_allocation_type_en         2
property_sub_type_en              22
pre_registration_number            7
master_project_en                106
project_name_en                 2278
dtype: int64

In [ ]:
bdf.iloc[:,[7,35,37,38,40,41]]

,building_number,pre_registration_number,master_project_en,master_project_ar,project_name_ar,project_name_en
0,RM2 Mira Oasis III-V-178,NaN,NaN,NaN,ريم - ميرا أويس,REEM - MIRA OASIS COMMUNITY PHASE 3
1,428,NaN,Dubai World Central,دبي ورلد سنترال,جولف لاين,Golf Lane
2,M 4-V-259,NaN,Meadows 6,السهول 6,NaN,NaN
3,PA11-237,NaN,NaN,NaN,فيلانوفا أمارانتا 3,Villanova Amaranta 3
4,243,NaN,NaN,NaN,ذا فالي - فيلورا 2,The Valley - Velora 2
...,...,...,...,...,...,...
217236,NaN,NaN,NaN,NaN,NaN,NaN
217237,0.0,NaN,NaN,NaN,NaN,NaN
217238,0.0,NaN,NaN,NaN,NaN,NaN
217239,NaN,NaN,NaN,NaN,NaN,NaN
217240,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df = pd.read_csv(file2)

# Data Exploration

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150412 entries, 0 to 2150411
Data columns (total 46 columns):
 #   Column                      Dtype
---  ------                      -----
 0   property_id                 float64
 1   area_id                     float64
 2   zone_id                     float64
 3   area_name_ar                object
 4   area_name_en                object
 5   land_number                 float64
 6   land_sub_number             float64
 7   building_number             object
 8   unit_number                 object
 9   unit_balcony_area           float64
 10  unit_parking_number         object
 11  parking_allocation_type     float64
 12  parking_allocation_type_ar  object
 13  parking_allocation_type_en  object
 14  common_area                 float64
 15  actual_common_area          float64
 16  floor                       object
 17  rooms                       float64
 18  rooms_ar                    object
 19  rooms_en                    object
 20  actual_area                 float64
 21  property_type_id            float64
 22  property_type_ar            object
 23  property_type_en            object
 24  property_sub_type_id        float64
 25  property_sub_type_ar        object
 26  property_sub_type_en        object
 27  parent_property_id          float64
 28  grandparent_property_id     float64
 29  creation_date               object
 30  munc_zip_code               float64
 31  munc_number                 float64
 32  parcel_id                   float64
 33  is_free_hold                float64
 34  is_lease_hold               float64
 35  is_registered               float64
 36  pre_registration_number     object
 37  master_project_id           float64
 38  master_project_en           object
 39  master_project_ar           object
 40  project_id                  float64
 41  project_name_ar             object
 42  project_name_en             object
 43  land_type_id                float64
 44  land_type_ar                object
 45  land_type_en                object
dtypes: float64(24), object(22)
memory usage: 754.7+ MB

In [ ]:
columns = df.columns
removing_columns = [col for col in columns if col.endswith('_ar')]

In [ ]:
df.drop(columns=removing_columns,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150412 entries, 0 to 2150411
Data columns (total 38 columns):
 #   Column                      Dtype
---  ------                      -----
 0   property_id                 float64
 1   area_id                     float64
 2   zone_id                     float64
 3   area_name_en                object
 4   land_number                 float64
 5   land_sub_number             float64
 6   building_number             object
 7   unit_number                 object
 8   unit_balcony_area           float64
 9   unit_parking_number         object
 10  parking_allocation_type     float64
 11  parking_allocation_type_en  object
 12  common_area                 float64
 13  actual_common_area          float64
 14  floor                       object
 15  rooms                       float64
 16  rooms_en                    object
 17  actual_area                 float64
 18  property_type_id            float64
 19  property_type_en            object
 20  property_sub_type_id        float64
 21  property_sub_type_en        object
 22  parent_property_id          float64
 23  grandparent_property_id     float64
 24  creation_date               object
 25  munc_zip_code               float64
 26  munc_number                 float64
 27  parcel_id                   float64
 28  is_free_hold                float64
 29  is_lease_hold               float64
 30  is_registered               float64
 31  pre_registration_number     object
 32  master_project_id           float64
 33  master_project_en           object
 34  project_id                  float64
 35  project_name_en             object
 36  land_type_id                float64
 37  land_type_en                object
dtypes: float64(24), object(14)
memory usage: 623.4+ MB

In [ ]:

unique_df = pd.DataFrame()
for col in df.columns:
    # Create a Series with unique values and index as a range
    unique_series = pd.Series(df[col].nunique())
    unique_series.name = col
    unique_series.index = range(len(unique_series))

    # Assign the Series to the unique_df
    unique_df[col] = unique_series
    # Assign the Series to the unique_df
    unique_df[col] = unique_series

In [ ]:
unique_df.max()

property_id                167610
area_id                       218
zone_id                         2
area_name_en                  218
land_number                 16680
land_sub_number              1779
building_number            104286
common_area                  4090
actual_common_area           1929
floors                         98
rooms                         119
rooms_en                       64
car_parks                     793
built_up_area               20404
bld_levels                     97
shops                          89
flats                         403
offices                       175
swimming_pools                 10
elevators                      38
actual_area                 53093
property_type_id                1
property_type_en                1
property_sub_type_id            9
property_sub_type_en            9
parent_property_id         113226
creation_date                4547
parcel_id                  108632
is_free_hold                    2
is_lease_hold                   2
is_registered                   2
pre_registration_number         4
master_project_id             191
master_project_en             189
project_id                   2734
project_name_en              2726
land_type_id                    7
land_type_en                    7
dtype: int64

#  Data Understanding

In [ ]:
ucol = udf.columns
bcol = bdf.columns
tcol = tdf.columns

In [ ]:
matching_cols_T_U = [col for col in tcol if col in ucol ]

In [ ]:

U_non_matching_col = [col for col in ucol if col not in bcol and col not in tcol]
B_non_matching_col = [col for col in bcol if col not in ucol and col not in tcol]
T_non_matching_col = [col for col in tcol if col not in ucol and col not in bcol]
print(U_non_matching_col)
print(B_non_matching_col)
print(T_non_matching_col)

['unit_number', 'unit_balcony_area', 'unit_parking_number', 'parking_allocation_type', 'parking_allocation_type_en', 'floor', 'grandparent_property_id', 'munc_zip_code', 'munc_number', 'creation_year', 'creation_month', 'creation_day', 'creation_hour']
['floors', 'car_parks', 'built_up_area', 'bld_levels', 'shops', 'flats', 'offices', 'swimming_pools', 'elevators']
['transaction_id', 'procedure_id', 'trans_group_id', 'trans_group_en', 'procedure_name_en', 'instance_date', 'property_usage_en', 'reg_type_id', 'reg_type_en', 'building_name_en', 'project_number', 'nearest_landmark_en', 'nearest_metro_en', 'nearest_mall_en', 'has_parking', 'procedure_area', 'actual_worth', 'meter_sale_price', 'rent_value', 'meter_rent_price', 'no_of_parties_role_1', 'no_of_parties_role_2', 'no_of_parties_role_3', 'instance_Year', 'instance_Month', 'instance_Day', 'trans_X_1', 'trans_X_2', 'Trans_Year', 'trans_X_3']

In [ ]:
U_matching_col = [col for col in ucol if col in bcol and col in tcol]
B_matching_col = [col for col in bcol if col in ucol and col in tcol]
T_matching_col = [col for col in tcol if col in ucol and col in bcol]
print(U_matching_col)
print(B_matching_col)
print(T_matching_col)

common_id_columns = [col for col in U_matching_col if col in B_matching_col and col in T_matching_col]
com_col_df = pd.DataFrame()
common_id_columns
com_col_df['common_id_columns'] = common_id_columns
com_col_df['udf_count_values'] = com_col_df['common_id_columns'].apply(lambda x: udf[x].nunique())
com_col_df['bdf_count_values'] = com_col_df['common_id_columns'].apply(lambda x: bdf[x].nunique())
com_col_df['tdf_count_values'] = com_col_df['common_id_columns'].apply(lambda x: tdf[x].nunique())
com_col_df

['area_id', 'area_name_en', 'rooms_en', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'master_project_en', 'project_name_en']
['area_id', 'area_name_en', 'rooms_en', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'master_project_en', 'project_name_en']
['property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'area_id', 'area_name_en', 'project_name_en', 'master_project_en', 'rooms_en']

      common_id_columns  udf_count_values  bdf_count_values  tdf_count_values
0               area_id               225               218               257
1          area_name_en               225               218               256
2              rooms_en               101                64                16
3      property_type_id                 1                 1                 4
4      property_type_en                 1                 1                 4
5  property_sub_type_id                22                 9                18
6  property_sub_type_en                22                 9                18
7     master_project_en               106               189               194
8       project_name_en              2278              2726              2699

In [ ]:
Unique_area = pd.DataFrame()
# Get unique area names from df
unique_area_names = df['area_name_en'].unique()
# Create a list of unique values for each area name in udf,
# but only for area names that exist as columns in udf
Unique_area['Unique_area'] = [udf[area_name].unique()
                              for area_name in unique_area_names
                              if area_name in udf.columns]

Unique_area

Empty DataFrame
Columns: [Unique_area]
Index: []

In [ ]:
|#write_to_excel(com_col_df, 'common_columns', 'Keys_U_T_B.xlsx')

In [ ]:
U_B_matching_col = [col for col in ucol if col in bcol]
B_T_matching_col = [col for col in bcol if col in tcol]
T_U_matching_col = [col for col in tcol if col in ucol]
print(U_B_matching_col)
print(B_T_matching_col)
print(T_U_matching_col)
U_B_T_Df = pd.DataFrame()

['property_id', 'area_id', 'zone_id', 'area_name_en', 'land_number', 'land_sub_number', 'building_number', 'common_area', 'actual_common_area', 'rooms', 'rooms_en', 'actual_area', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'parent_property_id', 'creation_date', 'parcel_id', 'is_free_hold', 'is_lease_hold', 'is_registered', 'pre_registration_number', 'master_project_id', 'master_project_en', 'project_id', 'project_name_en', 'land_type_id', 'land_type_en']
['area_id', 'area_name_en', 'rooms_en', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'master_project_en', 'project_name_en']
['property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'area_id', 'area_name_en', 'project_name_en', 'master_project_en', 'rooms_en']

In [ ]:
#U_B_T_Df = pd.DataFrame({'U_B_matching_col':U_B_matching_col}) # Create DataFrame with first column
U_B_T_Df = U_B_T_Df.reindex(U_B_T_Df.index.tolist() + list(range(len(U_B_T_Df),len(U_B_T_Df) + len(B_T_matching_col) - len(U_B_T_Df)))) # extend index
U_B_T_Df['B_T_matching_col'] = np.nan # Add new column and fill by NaN
U_B_T_Df['B_T_matching_col'][:len(B_T_matching_col)] = B_T_matching_col # set first n values to new column where n is length of new column data
U_B_T_Df = U_B_T_Df.reindex(U_B_T_Df.index.tolist() + list(range(len(U_B_T_Df),len(U_B_T_Df) + len(T_U_matching_col) - len(U_B_T_Df))))
U_B_T_Df['T_U_matching_col'] = np.nan
U_B_T_Df['T_U_matching_col'][:len(T_U_matching_col)] = T_U_matching_col

In [ ]:
U_B_T_Df

       B_T_matching_col      T_U_matching_col
0               area_id      property_type_id
1          area_name_en      property_type_en
2              rooms_en  property_sub_type_id
3      property_type_id  property_sub_type_en
4      property_type_en               area_id
5  property_sub_type_id          area_name_en
6  property_sub_type_en       project_name_en
7     master_project_en     master_project_en
8       project_name_en              rooms_en

**Rough COde**

In [ ]:
"""U_B_matching_col = [col for col in ucol if col in bcol]
B_T_matching_col = [col for col in bcol if col in tcol]
T_U_matching_col = [col for col in tcol if col in ucol]
print(U_B_matching_col)
print(B_T_matching_col)
print(T_U_matching_col)
U_B_T_Df = pd.DataFrame({'U_B_matching_col':U_B_matching_col}) # Create DataFrame with first column
U_B_T_Df = U_B_T_Df.reindex(U_B_T_Df.index.tolist() + list(range(len(U_B_T_Df),len(U_B_T_Df) + len(B_T_matching_col) - len(U_B_T_Df)))) # extend index
U_B_T_Df['B_T_matching_col'] = np.nan # Add new column and fill by NaN
U_B_T_Df['B_T_matching_col'][:len(B_T_matching_col)] = B_T_matching_col # set first n values to new column where n is length of new column data
U_B_T_Df = U_B_T_Df.reindex(U_B_T_Df.index.tolist() + list(range(len(U_B_T_Df),len(U_B_T_Df) + len(T_U_matching_col) - len(U_B_T_Df))))
U_B_T_Df['T_U_matching_col'] = np.nan
U_B_T_Df['T_U_matching_col'][:len(T_U_matching_col)] = T_U_matching_col"""

In [ ]:
sorted_df= df.sort_values(by=['property_id', ], ascending=True)#.iloc[10100:10800]#[com_value['instance_Year']=='2025.0'] # Changed 'instance_year' to 'instance_Year'
#alues_com.iloc[:20]
dup = sorted_df.duplicated()
dup_v = dup[dup == True]
sorted_df.iloc[:,0].unique()

array([1.19500000e+03, 3.25400000e+03, 5.24300000e+03, ...,
       2.14747581e+09, 2.14747880e+09,            nan])

In [ ]:
# Assuming 'creation_date' contains strings representing integers:
df['creation_date'] = pd.to_datetime(df['creation_date'], errors='coerce')
min_creation_date = df['creation_date'].min()
print(min_creation_date)

# If 'creation_date' contains date/timestamp data:
max_creation_date = df['creation_date'].max()
print(max_creation_date)

2008-03-12 00:00:00
2025-12-03 00:00:00

In [ ]:
df.to_csv('new_Units.csv', index = False)

In [ ]:
df.sample(2)

,property_id,area_id,zone_id,area_name_en,land_number,land_sub_number,building_number,unit_number,unit_balcony_area,unit_parking_number,...,master_project_id,master_project_en,project_id,project_name_en,land_type_id,land_type_en,creation_year,creation_month,creation_day,creation_hour
1812715,NaN,360.0,1.0,Muhaisanah Second,253.0,0.0,0.0,LBRC0310,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2072582,NaN,395.0,2.0,Jabal Ali Industrial First,535.0,0.0,0.0,147,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,Industrial,2018.0,12.0,3.0,0.0

In [ ]:
df['creation_year'] = df['creation_date'].dt.year
df['creation_month'] = df['creation_date'].dt.month
df['creation_day'] = df['creation_date'].dt.day
df['creation_hour'] = df['creation_date'].dt.hour

In [ ]:
data_summary = pd.DataFrame()

In [ ]:
data_summary['Data_type'] = df.dtypes
data_summary['Non_null_count'] = df.count()
data_summary['Null_count'] = df.isnull().sum()
data_summary['Unique_count'] = df.nunique()
#data_summary['Min_value'] = df.min()
#data_summary['Max_value'] = df.max()
#data_summary['Mean'] = df.mean()
#data_summary['Median'] = df.mode()
data_summary['null_%'] = (data_summary['Null_count'] / df.shape[0]) * 100
data_summary['unique_%'] = (data_summary['Unique_count'] / df.shape[0]) * 100
print(len(df))
data_summary.to_excel('data_summary_Units.xlsx')

2150412

In [ ]:
1

1

# Unique Keys Identification

In [ ]:
df.iloc[:,15:]['property_sub_type_en'].unique()

array([nan, 'Flat', 'Hotel Rooms', 'Office', 'Warehouse',
       'Hotel Apartment', 'Shop', 'Store', 'Clinic', 'Kiosk', 'Workshop',
       'Gymnasium', 'Show Rooms', 'Stacked Townhouses', 'Hotel',
       'Parking', 'Sized Partition', 'Building', 'Education', 'Hospital',
       'Unit', 'Opera House', 'Mosque'], dtype=object)

In [ ]:
def write_to_excel(df, sheet_name, file_name):
    try:
        book = load_workbook(file_name)
    except (BadZipFile, FileNotFoundError): # added FileNotFoundError handling
        # If the file is corrupted or not an Excel file, or the file doesn't exist, create a new workbook
        book = openpyxl.Workbook()  # Create a new workbook
        # Save the new workbook immediately to ensure it's a valid file
        book.save(file_name) # This line was added to save the new workbook

    # Passing the workbook to ExcelWriter using engine_kwargs:
    writer = pd.ExcelWriter(file_name, engine='openpyxl', mode='a')

    # If sheet exists, remove it
    if sheet_name in book.sheetnames:
        book.remove(book[sheet_name])

    # Write the DataFrame to the specified sheet
    # Check if df is a DataFrame before calling to_excel
    if isinstance(df, pd.DataFrame):
        df.to_excel(writer, sheet_name=sheet_name, index=True)
    else:
        print(f"Error: 'df' is not a DataFrame. It is of type: {type(df)}")  # Print an error message
    writer.close()


# Assuming grouped_stats was supposed to be created like this:
#grouped_stats = df.groupby('instance_date')[['actual_worth','meter_sale_price']].describe().round(4)


# Call the function
#write_to_excel(grouped_stats, sheet_name='Year_wise')

In [ ]:
udf.columns

Index(['property_id', 'area_id', 'zone_id', 'area_name_en', 'land_number',
       'land_sub_number', 'building_number', 'unit_number',
       'unit_balcony_area', 'unit_parking_number', 'parking_allocation_type',
       'parking_allocation_type_en', 'common_area', 'actual_common_area',
       'floor', 'rooms', 'rooms_en', 'actual_area', 'property_type_id',
       'property_type_en', 'property_sub_type_id', 'property_sub_type_en',
       'parent_property_id', 'grandparent_property_id', 'creation_date',
       'munc_zip_code', 'munc_number', 'parcel_id', 'is_free_hold',
       'is_lease_hold', 'is_registered', 'pre_registration_number',
       'master_project_id', 'master_project_en', 'project_id',
       'project_name_en', 'land_type_id', 'land_type_en', 'creation_year',
       'creation_month', 'creation_day', 'creation_hour'],
      dtype='object')

In [ ]:
1

1

In [ ]:
udf_project = udf['project_name_en'].unique()
tdf_project = tdf['project_name_en'].unique()
bdf_project= bdf['project_name_en'].unique()

In [ ]:
com_U_T_project = [col for col in udf_project if col in tdf_project] #and col in bdf_project]
U_T_project = [col for col in udf_project if col not in tdf_project]
T_U_project = [col for col in tdf_project if col not in udf_project]
U_B_project = [col for col in udf_project if col not in bdf_project]
B_U_project = [col for col in bdf_project if col not in udf_project]
com_U_B_project = [col for col in udf_project if col in bdf_project]
com_T_B_project = [col for col in tdf_project if col in bdf_project]
com_B_T_project = [col for col in bdf_project if col in tdf_project]
com_U_T_B_project = [col for col in udf_project if col in tdf_project and col in bdf_project]
#B_U_project = [col for col in bdf_project if col not in udf_project]
#com_U_B_project = [col for col in udf_project if col in bdf_project]
#com_U_T_B_project = [col for col in udf_project if col in tdf_project and col in bdf_project]

In [ ]:
project_U_T_B= [U_T_project,
T_U_project,
U_B_project,
B_U_project,
com_U_B_project,
com_T_B_project,
com_U_T_B_project,
com_B_T_project]

In [ ]:
for i, col in enumerate(project_U_T_B):
  com_df = pd.DataFrame(col)
  # Use the index or a descriptive name as sheet name
  write_to_excel(com_df, f'sheet_{col}', 'Keys_U_T_B.xlsx')

In [ ]:
com_df = pd.DataFrame(B_U_project)

In [ ]:
write_to_excel(com_df, 'B_U_project','Keys_U_T_B.xlsx' )

In [ ]:
#udf.describe()
#udf['property_id']#.unique()
u_unique = udf['project_id'].unique()
u_unique = np.sort(u_unique)
u_unique
udf['property_id'].min()

1195.0

In [ ]:
udf.sort_values(by=['property_id','creation_date' ], ascending=True)

,property_id,area_id,zone_id,area_name_en,land_number,land_sub_number,building_number,unit_number,unit_balcony_area,unit_parking_number,...,master_project_id,master_project_en,project_id,project_name_en,land_type_id,land_type_en,creation_year,creation_month,creation_day,creation_hour
0,1195.0,341.0,2.0,Trade Center First,9.0,0.0,9,15/19,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,Commercial,2011.0,5.0,12.0,0.0
1,3254.0,465.0,2.0,Wadi Al Safa 3,2053.0,0.0,LE STELLE 4,1211,0.00,NaN,...,91.0,Majan,849.0,"LE STELLE1,2,3,4,5",4.0,Commercial,NaN,NaN,NaN,NaN
2,5243.0,452.0,2.0,Al Hebiah Second,151.0,0.0,1,212,0.00,EU,...,94.0,Dubai Studio City,677392827.0,The First Collection at Dubai Studio City,NaN,NaN,2025.0,7.0,2.0,0.0
3,5721.0,309.0,2.0,Al Goze Industrial Third,58.0,0.0,58,WH20,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,Commercial,2012.0,9.0,10.0,0.0
4,6297.0,445.0,2.0,Jabal Ali First,2636.0,0.0,1,405,15.73,B-87,...,12.0,Al Furjan,35224499.0,Azizi Farishta Residence,4.0,Commercial,2016.0,7.0,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SHOP NO 4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2150408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SHOP NO. 03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2150409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,c,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2150410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,g-07,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2150411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,office no:5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Merging

In [ ]:
n_tdf = tdf[tdf['property_type_en']== 'Unit']#.iloc[:100000]
n_bdf = bdf#[bdf['property_type_en']== 'Unit']#.iloc[:100000]

In [ ]:
combined_data = pd.merge(n_tdf, n_bdf, on='project_name_en', how='inner', suffixes=('_tdf', '_bdf'))
print(combined_data.shape)
# Check if the DataFrame is empty before sampling
if combined_data.empty:
    print("DataFrame is empty, cannot sample.")
else:
    combined_data.sample(5)  # Only sample if the DataFrame is not empty
#print(combined_data.isnull().sum())

In [ ]:
combined_data.sample(3)

NameError: name 'combined_data' is not defined

In [ ]:
chunksize = 10000  # Adjust chunk size as needed
import pandas as pd
chunksize = 10000  # Adjust chunk size as needed
chunksize = 10000  # Adjust chunk size as needed
import pandas as pd
for chunk in pd.read_csv(file1, chunksize=chunksize):
# Process each chunk

SyntaxError: incomplete input (<ipython-input-5-a2866069f360>, line 7)

In [ ]:
udf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2150412 entries, 0 to 2150411
Data columns (total 42 columns):
 #   Column                      Dtype
---  ------                      -----
 0   property_id                 float64
 1   area_id                     float64
 2   zone_id                     float64
 3   area_name_en                object
 4   land_number                 float64
 5   land_sub_number             float64
 6   building_number             object
 7   unit_number                 object
 8   unit_balcony_area           float64
 9   unit_parking_number         object
 10  parking_allocation_type     float64
 11  parking_allocation_type_en  object
 12  common_area                 float64
 13  actual_common_area          float64
 14  floor                       object
 15  rooms                       float64
 16  rooms_en                    object
 17  actual_area                 float64
 18  property_type_id            float64
 19  property_type_en            object
 20  property_sub_type_id        float64
 21  property_sub_type_en        object
 22  parent_property_id          float64
 23  grandparent_property_id     float64
 24  creation_date               object
 25  munc_zip_code               float64
 26  munc_number                 float64
 27  parcel_id                   float64
 28  is_free_hold                float64
 29  is_lease_hold               float64
 30  is_registered               float64
 31  pre_registration_number     object
 32  master_project_id           float64
 33  master_project_en           object
 34  project_id                  float64
 35  project_name_en             object
 36  land_type_id                float64
 37  land_type_en                object
 38  creation_year               float64
 39  creation_month              float64
 40  creation_day                float64
 41  creation_hour               float64
dtypes: float64(28), object(14)
memory usage: 689.1+ MB

In [ ]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424588 entries, 0 to 1424587
Data columns (total 39 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   transaction_id        1424588 non-null  object
 1   procedure_id          1424588 non-null  int64
 2   trans_group_id        1424588 non-null  int64
 3   trans_group_en        1424588 non-null  object
 4   procedure_name_en     1424588 non-null  object
 5   instance_date         1424584 non-null  object
 6   property_type_id      1424588 non-null  int64
 7   property_type_en      1424588 non-null  object
 8   property_sub_type_id  1122476 non-null  float64
 9   property_sub_type_en  1122476 non-null  object
 10  property_usage_en     1424588 non-null  object
 11  reg_type_id           1424588 non-null  int64
 12  reg_type_en           1424588 non-null  object
 13  area_id               1424588 non-null  int64
 14  area_name_en          1424588 non-null  object
 15  building_name_en      995886 non-null   object
 16  project_number        994904 non-null   float64
 17  project_name_en       994904 non-null   object
 18  master_project_en     1210950 non-null  object
 19  nearest_landmark_en   1184214 non-null  object
 20  nearest_metro_en      1031786 non-null  object
 21  nearest_mall_en       1025052 non-null  object
 22  rooms_en              1102665 non-null  object
 23  has_parking           1424588 non-null  int64
 24  procedure_area        1424588 non-null  float64
 25  actual_worth          1424588 non-null  float64
 26  meter_sale_price      1424588 non-null  float64
 27  rent_value            35563 non-null    float64
 28  meter_rent_price      35563 non-null    float64
 29  no_of_parties_role_1  1423659 non-null  float64
 30  no_of_parties_role_2  1423659 non-null  float64
 31  no_of_parties_role_3  1423659 non-null  float64
 32  instance_Year         1424584 non-null  float64
 33  instance_Month        1424584 non-null  float64
 34  instance_Day          1424584 non-null  float64
 35  trans_X_1             1424588 non-null  int64
 36  trans_X_2             1424588 non-null  int64
 37  Trans_Year            1424588 non-null  int64
 38  trans_X_3             1424588 non-null  int64
dtypes: float64(13), int64(10), object(16)
memory usage: 423.9+ MB

#creating New Key

In [ ]:
U_B_matching_col = [col for col in ucol if col in bcol]
B_T_matching_col = [col for col in bcol if col in tcol]
T_U_matching_col = [col for col in tcol if col in ucol]
print(U_B_matching_col)
print(B_T_matching_col)
print(T_U_matching_col)

['property_id', 'area_id', 'zone_id', 'area_name_en', 'land_number', 'land_sub_number', 'building_number', 'common_area', 'actual_common_area', 'rooms', 'rooms_en', 'actual_area', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'parent_property_id', 'creation_date', 'parcel_id', 'is_free_hold', 'is_lease_hold', 'is_registered', 'pre_registration_number', 'master_project_id', 'master_project_en', 'project_id', 'project_name_en', 'land_type_id', 'land_type_en']
['area_id', 'area_name_en', 'rooms_en', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'master_project_en', 'project_name_en']
['property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'area_id', 'area_name_en', 'project_name_en', 'master_project_en', 'rooms_en']

**creating new key**

In [ ]:
udf['com_key'] = udf['area_id'].astype(str) +'-'+udf['project_id'].astype(str) + '-'+udf['property_sub_type_id'].astype(str) + '-'+udf['property_type_id'].astype(str)
tdf['com_key'] = tdf['area_id'].astype(str) +'-'+tdf['project_number'].astype(str) + '-'+tdf['property_sub_type_id'].astype(str) + '-'+tdf['property_type_id'].astype(str)

In [ ]:
print(f"total recordes in udf_com_key are: {len(udf['com_key'])}")
print(f"total unique recordes in udf_com_key are: {len(udf['com_key'].unique())}")
print(f"total recordes in tdf_com_key are: {len(tdf['com_key'])}")
print(f"total unique recordes in tdf_com_key are: {len(tdf['com_key'].unique())}")

total recordes in udf_com_key are: 2150412
total unique recordes in udf_com_key are: 4839
total recordes in tdf_com_key are: 1424588
total unique recordes in tdf_com_key are: 6154

In [ ]:
udf['com_key']

0                    341.0-nan-nan-3.0
1                 465.0-849.0-60.0-3.0
2          452.0-677392827.0-112.0-3.0
3                    309.0-nan-nan-3.0
4            445.0-35224499.0-60.0-3.0
                      ...
2150407                nan-nan-nan-3.0
2150408                nan-nan-nan-3.0
2150409                nan-nan-nan-3.0
2150410                nan-nan-nan-3.0
2150411                nan-nan-nan-3.0
Name: com_key, Length: 2150412, dtype: object

In [ ]:
u_comp = udf[['property_id','creation_date','area_id', 'area_name_en', 'rooms_en', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'master_project_en', 'project_name_en']]

In [ ]:
t_comp = tdf[['transaction_id','instance_date','area_id', 'area_name_en', 'rooms_en', 'property_type_id', 'property_type_en', 'property_sub_type_id', 'property_sub_type_en', 'master_project_en', 'project_name_en']]

In [ ]:
u_comp['master_project_en'].unique()

array([nan, 'Majan', 'Dubai Studio City', 'Al Furjan', 'Jumeirah Islands',
       'Dubai World Central', 'The Lagoons', 'Jumeirah Village Circle',
       'International Media Production Zone', 'Living Legends',
       'Burj Khalifa', 'Jumeirah Lakes Towers', 'Wasl 1', 'Business Bay',
       'International City Phase 1', 'DAMAC HILLS 2', 'TOWN SQUARE',
       'Dubai Investment Park Second', 'Dubai Maritime City',
       'Dubai Investment Park First', 'Silicon Oasis', 'Dubiotech',
       'City Walk', 'Jumeriah Beach Residence  - JBR',
       'Dubai Sports City', 'Dubai Marina', 'Culture Village',
       'Palm Jumeirah', 'Dubai Industrial City', 'DMCC-EZ2',
       'Discovery Gardens', 'Jumeirah Village Triangle',
       'JABAL ALI INDUSTRIAL DEVELOPMENT', 'Remraam',
       'Dubai South Residential District', 'LA MER', 'DUBAI HILLS',
       'Dubai Health Care City Phase 1', 'SOBHA HARTLAND',
       'International City Phase 3', 'Palm Deira', 'Ibn Battuta ',
       'Residential Complex', 'Dubai Harbour', 'Wasl Gate',
       'Down Town Jabal Ali', 'Meydan One Community', 'DAMAC HILLS',
       'Mina Rashid', 'Meydan Racecourse Community', 'Dubai Water Front',
       'City Of Arabia', 'Motor City', 'The World', 'The Greens',
       'Festival City',
       'Mohammed Bin Rashid AL Maktoum City -District -1 Community',
       'TECOM Site D', 'Arjan', 'DUBAI HILLS - PARK', 'TECOM Site C',
       'Falcon City', 'Liwan', 'Jumeirah Garden City', 'DMCC-EZ1',
       'Bluewaters Island', 'TECOM Site B', 'Uptown Mirdif',
       'HADAEQ SHEIKH MOHAMMED BIN RASHID - DISRICT 7', 'TECOM Site A',
       'Jumeirah Golf Estates', 'Dubai Water Canal', 'Badra',
       'THE SUSTAINABLE CITY', 'Dubai Health Care City Phase 2',
       'The Gardens', 'Madinat Badr', 'Dubai International Academic City',
       'Palm Jabal Ali', 'Tijara Town', 'WARSAN FIRST DEVELOPMENT',
       'Mohammed Bin Rashid AL Maktoum District 11',
       'AL WARSAN INDUSTRIAL', 'AL KHAWANEEJ DISTRICT', 'Rukan',
       'Pearl Jumeira', 'JABEL ALI HILLS', 'Al Waha Villas',
       'Business Park', 'Global Village', 'Mudon', 'Nad Al Sheba Gardens',
       'Jumeirah Heights', 'Jumeira Bay', 'Veneto', 'Arabian Ranches II',
       'Jumeirah Park', 'The Villa', '800 Villas', 'Meydan',
       'TILAL AL GHAF', 'Barsha Heights', 'Jabal Ali Village',
       'International City Phase 2', 'The Palmarosa',
       'DUBAI HILLS - MAPLE 3', 'DUBAI HILLS - CLUB VILLAS'], dtype=object)

In [ ]:
u_park=u_comp[u_comp['master_project_en']=='PARK AVENUE']
t_park=t_comp[t_comp['project_name_en']=='PARK AVENUE']
u_park

In [ ]:
u_majan =u_comp[u_comp['master_project_en']=='Majan']
t_majan=t_comp[(t_comp['master_project_en']=='Majan')&(t_comp['property_type_id']==3)]
u_majan_list =u_majan['project_name_en'].unique()#.sort_values(by=['creation_date'],ascending=True)

In [ ]:
t_majan_list = t_majan['project_name_en'].unique()

In [ ]:
matching_values = [value for value in u_majan_list if value in t_majan_list]
print(len(u_majan_list))
print(len(t_majan_list))
print(len(matching_values))
matching_values

36
22
21

['CELIA HEIGHTS',
 'Paradise View 1',
 'THE HAVEN',
 'Jade Tower',
 'Samana Barari Views',
 'FOREST CITY TOWER',
 'Samana Barari Lagoons',
 'Samana Barari Views 2',
 'SHERENA RESIDENCE',
 'DEANSGATE by ADE',
 'SHERENA RESIDENCE 2',
 'Zubaida Residency',
 'WADI 645',
 'The Haven II',
 'SAMAYA',
 'LAZORD BY LAPIS',
 'barari views',
 'ARAS HEIGHTS',
 'ARAS Residence',
 'AMETHYST BY SIROYA',
 'FORUM RESIDENCES']

In [ ]:
t_majan

,transaction_id,instance_date,area_id,area_name_en,rooms_en,property_type_id,property_type_en,property_sub_type_id,property_sub_type_en,master_project_en,project_name_en
12234,1-102-2024-14939,2024-03-11,465,Wadi Al Safa 3,Studio,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
12235,1-102-2024-104528,2024-12-13,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
12236,1-102-2024-12278,2024-02-29,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
12237,1-102-2024-67722,2024-09-04,465,Wadi Al Safa 3,Studio,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
12238,1-102-2024-45393,2024-06-25,465,Wadi Al Safa 3,Studio,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
...,...,...,...,...,...,...,...,...,...,...,...
1422882,1-11-2024-29722,2024-08-12,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,NaN
1422883,1-11-2024-33788,2024-09-10,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,NaN
1423647,1-102-2025-7389,2025-01-31,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,LAZORD BY LAPIS
1423648,1-102-2025-7394,2025-01-31,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,LAZORD BY LAPIS
1423649,1-102-2025-7390,2025-02-03,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,LAZORD BY LAPIS

In [ ]:
t_majan[t_majan['project_name_en']=='Samana Barari Views 2'].sort_values(by=['instance_date'],ascending=True)
u_majan[u_majan['project_name_en']=='Zubaida Residency'].sort_values(by=['creation_date'],ascending=True)

,property_id,creation_date,area_id,area_name_en,rooms_en,property_type_id,property_type_en,property_sub_type_id,property_sub_type_en,master_project_en,project_name_en
3310,5.358687e+06,2022-07-12,465.0,Wadi Al Safa 3,1 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
742817,1.195515e+09,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
774388,1.246068e+09,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
781671,1.257669e+09,2022-07-12,465.0,Wadi Al Safa 3,1 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
874173,1.407383e+09,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
...,...,...,...,...,...,...,...,...,...,...,...
658239,1.059056e+09,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
671976,1.081564e+09,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
686969,1.105854e+09,2022-07-12,465.0,Wadi Al Safa 3,3 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
408772,6.575706e+08,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency
1321454,2.128663e+09,2022-07-12,465.0,Wadi Al Safa 3,2 B/R,3.0,Unit,60.0,Flat,Majan,Zubaida Residency

In [ ]:
t_majan[t_majan['project_name_en']=='Samana Barari Views 2'].sort_values(by=['instance_date'],ascending=True)

,transaction_id,instance_date,area_id,area_name_en,rooms_en,property_type_id,property_type_en,property_sub_type_id,property_sub_type_en,master_project_en,project_name_en
56263,1-102-2024-6046,2024-01-31,465,Wadi Al Safa 3,Studio,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
409872,1-102-2024-6085,2024-01-31,465,Wadi Al Safa 3,Studio,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
988916,1-102-2024-6700,2024-02-02,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
810964,1-102-2024-6625,2024-02-02,465,Wadi Al Safa 3,2 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
255267,1-102-2024-6721,2024-02-02,465,Wadi Al Safa 3,1 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
...,...,...,...,...,...,...,...,...,...,...,...
810969,1-102-2025-14566,2025-02-28,465,Wadi Al Safa 3,2 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
1145229,1-102-2025-15236,2025-02-28,465,Wadi Al Safa 3,2 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
833138,1-102-2025-25118,2025-03-26,465,Wadi Al Safa 3,2 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
432205,1-102-2025-26410,2025-04-02,465,Wadi Al Safa 3,2 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2
255272,1-102-2025-26530,2025-04-02,465,Wadi Al Safa 3,2 B/R,3,Unit,60.0,Flat,Majan,Samana Barari Views 2

In [ ]:
id_u =udf['project_id'].unique()
id_t = tdf['project_number'].unique()
id_b = bdf['project_id'].unique()

In [ ]:
U_B_matching_id_P = [id for id in id_u if id in id_b]
B_T_matching_id_P = [id for id in id_b if id in id_t]
T_U_matching_id_P = [id for id in id_t if id in id_u]
print(len(U_B_matching_id_P))#.nunique())
print(len(B_T_matching_id_P))#.nunique())
print(T_U_matching_id_P)#.nunique())

2198
629
[np.float64(614.0), np.float64(408.0), np.float64(16.0), np.float64(399.0), np.float64(437.0), np.float64(438.0), np.float64(547.0), np.float64(883.0), np.float64(505.0), np.float64(979.0), np.float64(42.0), np.float64(227.0), np.float64(150.0), np.float64(102.0), np.float64(351.0), np.float64(1260.0), np.float64(390.0), np.float64(1040.0), np.float64(257.0), np.float64(430.0), np.float64(431.0), np.float64(130.0), np.float64(75.0), np.float64(40.0), np.float64(278.0), np.float64(690.0), np.float64(1267.0), np.float64(509.0), np.float64(97.0), np.float64(1145.0), np.float64(357.0), np.float64(1449.0), np.float64(297.0), np.float64(1458.0), np.float64(845.0), np.float64(894.0), np.float64(673.0), np.float64(267.0), np.float64(948.0), np.float64(207.0), np.float64(1450.0), np.float64(331.0), np.float64(1135.0), np.float64(1274.0), np.float64(1451.0), np.float64(919.0), np.float64(848.0), np.float64(336.0), np.float64(1142.0), np.float64(1136.0), np.float64(323.0), np.float64(806.0), np.float64(616.0), np.float64(477.0), np.float64(609.0), np.float64(315.0), np.float64(501.0), np.float64(593.0), np.float64(622.0), np.float64(510.0), np.float64(328.0), np.float64(333.0), np.float64(99.0), np.float64(82.0), np.float64(1140.0), np.float64(1303.0), np.float64(1299.0), np.float64(1302.0), np.float64(804.0), np.float64(1304.0), np.float64(139.0), np.float64(558.0), np.float64(479.0), np.float64(397.0), np.float64(1141.0), np.float64(330.0), np.float64(140.0), np.float64(646.0), np.float64(923.0), np.float64(1462.0), np.float64(1461.0), np.float64(1311.0), np.float64(1277.0), np.float64(137.0), np.float64(138.0), np.float64(250.0), np.float64(567.0), np.float64(413.0), np.float64(1073.0), np.float64(541.0), np.float64(1307.0), np.float64(271.0), np.float64(513.0), np.float64(1456.0), np.float64(260.0), np.float64(1312.0), np.float64(255.0), np.float64(1460.0), np.float64(256.0), np.float64(295.0), np.float64(335.0), np.float64(474.0), np.float64(181.0), np.float64(412.0), np.float64(638.0), np.float64(847.0), np.float64(142.0), np.float64(1306.0), np.float64(724.0), np.float64(288.0), np.float64(230.0), np.float64(1437.0), np.float64(1438.0), np.float64(634.0), np.float64(1117.0), np.float64(1434.0), np.float64(178.0), np.float64(223.0), np.float64(635.0), np.float64(251.0), np.float64(1436.0), np.float64(1435.0), np.float64(815.0), np.float64(723.0), np.float64(726.0), np.float64(1427.0), np.float64(647.0), np.float64(720.0), np.float64(637.0), np.float64(218.0), np.float64(217.0), np.float64(133.0), np.float64(871.0), np.float64(1123.0), np.float64(382.0), np.float64(380.0), np.float64(289.0), np.float64(210.0), np.float64(231.0), np.float64(232.0), np.float64(1293.0), np.float64(1294.0), np.float64(603.0), np.float64(2.0), np.float64(632.0), np.float64(1310.0), np.float64(7.0), np.float64(1179.0), np.float64(347.0), np.float64(48.0), np.float64(464.0), np.float64(687.0), np.float64(149.0), np.float64(86.0), np.float64(124.0), np.float64(732.0), np.float64(318.0), np.float64(1270.0), np.float64(1272.0), np.float64(1305.0), np.float64(147.0), np.float64(119.0), np.float64(360.0), np.float64(24.0), np.float64(8.0), np.float64(767.0), np.float64(498.0), np.float64(494.0), np.float64(1288.0), np.float64(1443.0), np.float64(329.0), np.float64(623.0), np.float64(624.0), np.float64(163.0), np.float64(662.0), np.float64(389.0), np.float64(1282.0), np.float64(388.0), np.float64(611.0), np.float64(407.0), np.float64(1103.0), np.float64(1297.0), np.float64(1102.0), np.float64(615.0), np.float64(447.0), np.float64(422.0), np.float64(1448.0), np.float64(214.0), np.float64(793.0), np.float64(436.0), np.float64(1284.0), np.float64(47.0), np.float64(449.0), np.float64(1175.0), np.float64(41.0), np.float64(1176.0), np.float64(589.0), np.float64(84.0), np.float64(161.0), np.float64(192.0), np.float64(85.0), np.float64(72.0), np.float64(1178.0), np.float64(44.0), np.float64(57.0), np.float64(51.0), np.float64(46.0), np.float64(485.0), np.float64(523.0), np.float64(518.0), np.float64(316.0), np.float64(349.0), np.float64(612.0), np.float64(418.0), np.float64(448.0), np.float64(1264.0), np.float64(1263.0), np.float64(421.0), np.float64(487.0), np.float64(1280.0), np.float64(1173.0), np.float64(53.0), np.float64(60.0), np.float64(22.0), np.float64(20.0), np.float64(220.0), np.float64(52.0), np.float64(414.0), np.float64(453.0), np.float64(444.0), np.float64(1308.0), np.float64(1174.0), np.float64(503.0), np.float64(490.0), np.float64(482.0), np.float64(1309.0), np.float64(621.0), np.float64(1177.0), np.float64(127.0), np.float64(1071.0), np.float64(685.0), np.float64(1195.0), np.float64(891.0), np.float64(1190.0), np.float64(1223.0), np.float64(965.0), np.float64(1201.0), np.float64(55.0), np.float64(1250.0), np.float64(1247.0), np.float64(50.0), np.float64(213.0), np.float64(799.0), np.float64(1042.0), np.float64(1072.0), np.float64(910.0), np.float64(916.0), np.float64(1187.0), np.float64(1209.0), np.float64(1182.0), np.float64(774.0), np.float64(1221.0), np.float64(307.0), np.float64(11.0), np.float64(1198.0), np.float64(1199.0), np.float64(1192.0), np.float64(808.0), np.float64(1197.0), np.float64(13.0), np.float64(493.0), np.float64(1183.0), np.float64(1208.0), np.float64(805.0), np.float64(1217.0), np.float64(1185.0), np.float64(1249.0), np.float64(1186.0), np.float64(641.0), np.float64(610.0), np.float64(813.0), np.float64(975.0), np.float64(825.0), np.float64(1203.0), np.float64(895.0), np.float64(776.0), np.float64(828.0), np.float64(1251.0), np.float64(507.0), np.float64(1213.0), np.float64(1189.0), np.float64(794.0), np.float64(10.0), np.float64(833.0), np.float64(1255.0), np.float64(1212.0), np.float64(1214.0), np.float64(688.0), np.float64(1196.0), np.float64(1194.0), np.float64(1188.0), np.float64(299.0), np.float64(1193.0), np.float64(475.0), np.float64(605.0), np.float64(1248.0), np.float64(43.0), np.float64(1268.0), np.float64(1252.0), np.float64(870.0), np.float64(777.0), np.float64(356.0), np.float64(1300.0), np.float64(129.0), np.float64(913.0), np.float64(1067.0), np.float64(679.0), np.float64(978.0), np.float64(461.0), np.float64(425.0), np.float64(429.0), np.float64(266.0), np.float64(645.0), np.float64(531.0), np.float64(300.0), np.float64(259.0), np.float64(445.0), np.float64(763.0), np.float64(976.0), np.float64(762.0), np.float64(1219.0), np.float64(159.0), np.float64(219.0), np.float64(56.0), np.float64(467.0), np.float64(9.0), np.float64(1459.0), np.float64(817.0), np.float64(1119.0), np.float64(416.0), np.float64(1138.0), np.float64(551.0), np.float64(516.0), np.float64(1070.0), np.float64(1147.0), np.float64(73.0), np.float64(19.0), np.float64(457.0), np.float64(880.0), np.float64(1241.0), np.float64(1276.0), np.float64(591.0), np.float64(719.0), np.float64(332.0), np.float64(639.0), np.float64(705.0), np.float64(1433.0), np.float64(946.0), np.float64(596.0), np.float64(1130.0), np.float64(704.0), np.float64(317.0), np.float64(411.0), np.float64(1224.0), np.float64(1204.0), np.float64(488.0), np.float64(162.0), np.float64(595.0), np.float64(398.0), np.float64(1457.0), np.float64(712.0), np.float64(98.0), np.float64(1474.0), np.float64(54.0), np.float64(334.0), np.float64(92.0), np.float64(640.0), np.float64(1216.0), np.float64(775.0), np.float64(1205.0), np.float64(184.0), np.float64(45.0), np.float64(443.0), np.float64(1144.0), np.float64(1041.0), np.float64(525.0), np.float64(1275.0), np.float64(249.0), np.float64(189.0), np.float64(191.0), np.float64(559.0), np.float64(463.0), np.float64(172.0), np.float64(816.0), np.float64(49.0), np.float64(439.0), np.float64(1206.0), np.float64(1210.0), np.float64(630.0), np.float64(221.0), np.float64(208.0), np.float64(1271.0), np.float64(87.0), np.float64(151.0), np.float64(1301.0), np.float64(1442.0), np.float64(419.0), np.float64(155.0), np.float64(945.0), np.float64(1191.0), np.float64(556.0), np.float64(699.0), np.float64(521.0), np.float64(1039.0), np.float64(807.0), np.float64(764.0), np.float64(1172.0), np.float64(146.0), np.float64(1166.0), np.float64(480.0), np.float64(158.0), np.float64(830.0), np.float64(291.0), np.float64(1207.0), np.float64(1215.0), np.float64(394.0), np.float64(17.0), np.float64(1447.0), np.float64(143.0), np.float64(517.0), np.float64(320.0), np.float64(831.0), np.float64(12.0), np.float64(1232.0), np.float64(14.0), np.float64(629.0), np.float64(248.0), np.float64(506.0), np.float64(451.0), np.float64(727.0), np.float64(306.0), np.float64(282.0), np.float64(342.0), np.float64(1285.0), np.float64(1444.0), np.float64(697.0), np.float64(270.0), np.float64(982.0), np.float64(1473.0), np.float64(602.0), np.float64(981.0), np.float64(274.0), np.float64(39.0), np.float64(1464.0), np.float64(829.0), np.float64(1261.0), np.float64(222.0), np.float64(814.0), np.float64(122.0), np.float64(15.0), np.float64(959.0), np.float64(986.0), np.float64(1472.0), np.float64(983.0), np.float64(984.0), np.float64(832.0), np.float64(903.0), np.float64(1038.0), np.float64(201.0), np.float64(633.0), np.float64(841.0), np.float64(873.0), np.float64(698.0), np.float64(472.0), np.float64(656.0), np.float64(872.0), np.float64(1313.0), np.float64(537.0), np.float64(1254.0), np.float64(355.0), np.float64(581.0), np.float64(905.0), np.float64(540.0), np.float64(568.0), np.float64(108.0), np.float64(170.0), np.float64(247.0), np.float64(914.0), np.float64(784.0), np.float64(105.0), np.float64(94.0), np.float64(1133.0), np.float64(454.0), np.float64(1470.0), np.float64(173.0), np.float64(1244.0), np.float64(560.0), np.float64(898.0), np.float64(465.0), np.float64(826.0), np.float64(932.0), np.float64(743.0), np.float64(944.0), np.float64(843.0), np.float64(237.0), np.float64(109.0), np.float64(470.0), np.float64(835.0), np.float64(61.0), np.float64(100.0), np.float64(968.0), np.float64(292.0), np.float64(795.0), np.float64(239.0), np.float64(649.0), np.float64(1080.0), np.float64(245.0), np.float64(900.0), np.float64(715.0), np.float64(929.0), np.float64(937.0), np.float64(678.0), np.float64(664.0), np.float64(379.0), np.float64(132.0), np.float64(906.0), np.float64(327.0), np.float64(58.0), np.float64(674.0), np.float64(660.0), np.float64(471.0), np.float64(1079.0), np.float64(709.0), np.float64(103.0), np.float64(933.0), np.float64(1253.0), np.float64(254.0), np.float64(455.0), np.float64(287.0), np.float64(1143.0), np.float64(941.0), np.float64(666.0), np.float64(619.0), np.float64(145.0), np.float64(821.0), np.float64(368.0), np.float64(938.0), np.float64(1129.0), np.float64(1134.0), np.float64(771.0), np.float64(571.0), np.float64(600.0), np.float64(874.0), np.float64(653.0), np.float64(1235.0), np.float64(240.0), np.float64(1151.0), np.float64(326.0), np.float64(730.0), np.float64(83.0), np.float64(473.0), np.float64(375.0), np.float64(836.0), np.float64(926.0), np.float64(1137.0), np.float64(706.0), np.float64(754.0), np.float64(89.0), np.float64(243.0), np.float64(33.0), np.float64(196.0), np.float64(104.0), np.float64(199.0), np.float64(824.0), np.float64(153.0), np.float64(1471.0)]

In [ ]:
u_comp

# comparing

In [ ]:
all_dfs

['accredeted_df',
 'bdf',
 'boker_df',
 'building_floors_df',
 'building_summary_df',
 'developers_df',
 'df',
 'land_df',
 'map_df',
 'project_app_df',
 'tdf',
 'tranC_df',
 'udf',
 'valuation_df',
 'valuattor_df']

reference

data_Application_Key = data_application['project_no'].groupby(by=[data_application['project_no'], data_application['application_no']],  
                                                              dropna=False).count()
data_Application_Key.to_excel("C:/Users/umaho/OneDrive/Desktop/Flipose/FindingKey/data_Application_Key.xlsx")

In [ ]:
bdf.columns

Index(['property_id', 'area_id', 'zone_id', 'area_name_en', 'land_number',
       'land_sub_number', 'building_number', 'common_area',
       'actual_common_area', 'floors', 'rooms', 'rooms_en', 'car_parks',
       'built_up_area', 'bld_levels', 'shops', 'flats', 'offices',
       'swimming_pools', 'elevators', 'actual_area', 'property_type_id',
       'property_type_en', 'property_sub_type_id', 'property_sub_type_en',
       'parent_property_id', 'creation_date', 'parcel_id', 'is_free_hold',
       'is_lease_hold', 'is_registered', 'pre_registration_number',
       'master_project_id', 'master_project_en', 'project_id',
       'project_name_en', 'land_type_id', 'land_type_en'],
      dtype='object')

In [ ]:
group_data

In [ ]:
write_to_excel(df, sheet_name, file_name)